
section {
    display: inline-block;
    margin: 4 7%;
    width: 30%
}

  header,section,aside,footer
   {
    margin: 0 1.5% 24px 1.5%;
    background-color:aqua;
    text-align: center;
  }
  footer {
    margin-bottom: 0;
    border-radius:80px;
    width:95%;
  }
  img
  {
    width: 90px;;
    height:85px;
  }
  