
h1
{
 color: azure;
}
body
{
    text-decoration: none;
    background-color: aqua;
}
p
{
    
    color: red;
    text-decoration:underline;

    
  }
   *{
    text-align: center;
    color: blue;
  }

    h1 {text-align: left;
      color: aquamarine;
    }
    h2
{left: decoration skip 3px; ;
  text-underline-offset:all ;
   
   }
div
{
  text-decoration-line: none;
  color:black; 

}

.list li 
{
list-style-type: none;
text-transform: uppercase;


}
#para
{
  text-transform: uppercase;

}